<div class="card_container">
  <!-- TODO: add globally -->
  <div class="bread_crumb">
    <a [routerLink]="['/sign-in']">Sign In</a>
    >
    <span>Esqueci minha senha</span>
  </div>
  <form>
    <div class="card_border">
      <div class="card">
        <div class="logo">
          <img src="../../../assets/images/Atom.svg" width="50" alt="atom">
          <img src="../../../assets/images/NameAndMoto.svg" width="150" alt="Logo" class="teste">
        </div>

        <div class="form_group">
          <input id="email" placeholder="E-mail">
          <p class="input_hint">*Insira o e-mail da sua conta para recuperar sua senha</p>
        </div>

        <button type="submit">Recuperar Senha</button>
      </div>
    </div>
  </form>
</div>