<div class="cardCntainer">
  <!-- TODO: add globally -->
  <div class="breadCrumb">
    <a [routerLink]="['/sign-in']">Sign In</a>
    >
    <span>Esqueci minha senha</span>
  </div>

  <div class="cardBorder">
    <div class="card">
      <div class="logo">
        <img src="../../../assets/images/Atom.svg" width="50" alt="Atom">
        <img src="../../../assets/images/NameAndMoto.svg" width="150" alt="Logo" class="teste">
      </div>

      <div class="formGroup">
        <input id="email" placeholder="E-mail">
        <p class="input_hint">*Insira o e-mail da sua conta para recuperar sua senha</p>
      </div>

      <button type="button">Recuperar Senha</button>
    </div>
  </div>
</div>
