.cardCntainer {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .breadCrumb {
    position: absolute;
    top: 1rem;
    left: 1rem;
    white-space: nowrap;
  }

  .cardBorder {
    border-radius: 15px;
    background: linear-gradient(to right, #08A3D3, #37AF91, #FFD602, #91C612);

    .card {
      //TODO: add globally
        border: 5px solid transparent;
        border-radius: 15px;
        //TODO: theme variable (cards background)
        background-color: #EEF6F4;
        background-clip: padding-box;

      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      color: #08A3D3;
  
      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }
  
      .input_hint {
        color: #D12B49E5;
      }

      button {
        background-color: #08A3D3;
        width: 70%;
        padding: 0.5rem;
        border-radius: 5px;
        color: white;
      }
    }
  }
}
