.cardCntainer {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .breadCrumb {
    position: absolute;
    top: 1rem;
    left: 1rem;
    white-space: nowrap;
  }

  .card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    // TODO: add globally
    border: 5px solid;
    background-image: linear-gradient(to right, #08A3D3, #37AF91, #FFD602, #91C612);
    border-radius: 15px;
    mask-border:round($number: 0);

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    small {
      display: block;
    }
  }
}
