//TODO: add globally
.card_border {
  border-radius: 15px;
  background: linear-gradient(to right, #08a3d3, #37af91, #ffd602, #91c612);
  width: min(90%, 600px);
}

//TODO: add globally
.card {
  border: 5px solid transparent;
  border-radius: 15px;
  //TODO: theme variable (card backgrounds)
  background-color: #eef6f4;
  background-clip: padding-box;
  padding: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #08a3d3;
}

//TODO: add globally
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .atom {
    width: 70px;
  }
  .name {
    width: 200px;
  }
}

.form_group {
  width: min(375px, 90%);
}

.inputHint {
  color: #d12b49e5;
}

button {
  background-color: #08a3d3;
  width: 70%;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
  width: 40%;
}

//mobile
@media (max-width: 950px) {
  .atom {
    width: 40px;
  }
  .name {
    width: 120px;
  }

  button {
    width: 90%;
  }

  .signIn_card {
    gap: 1rem;
  }
}
