<div class="card_container">
  <!-- TODO: add globally -->
  <div class="bread_crumb">
    <a [routerLink]="['/sign-in']">Sign In</a>
    >
    <span>Esqueci minha senha</span>
  </div>
  <div class="card_border">
    <p-card>
      <form>
        <div class="logo">
          <img src="../../../assets/images/Atom.svg" alt="atom" class="atom">
          <img src="../../../assets/images/NameAndMoto.svg" alt="Logo" class="name">
        </div>

        <div class="form_group">
          <input pInputText variant="filled" id="email" placeholder="E-mail">
          <small class="input_hint">*Insira o e-mail da sua conta para recuperar sua senha</small>
        </div>

        <button type="submit">Recuperar Senha</button>
      </form>
    </p-card>
  </div>
</div>