.background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: max-content;
    min-height: max-content;
}

.card {
    width: 800px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-email-label {
    color: #08A3D3;
    font-weight: 600;
}

.input-email {
    border-color: #08A3D3;
    border-width: 2px;
    width: 500px;
    margin-top: 15px;
}

.input-hint {
    color: #D12B49E5;
    margin-bottom: 50px;
}

.button-recover-password {
    display: flex;
    justify-content: center;
}

.recover-password-button {
    background-color: #08A3D3;
    width: 280px;
}