.background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 850px;
    min-height: 700px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    // border-radius: 10px;
    border: 5px solid;
    border-image: linear-gradient(to right, #08A3D3, #37AF91, #FFD602, #91C612) 1;
    // -webkit-mask: linear-gradient(#08A3D3, #37AF91, #FFD602, #91C612) padding-box,
    // liner-gradient(#08A3D3, #37AF91, #FFD602, #91C612);
    // -webkit-mask-composite: xor;
    // mask-composite: exclude;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.input-email-label {
    color: #08A3D3;
    font-weight: 600;
}

.input-email {
    border-color: #08A3D3;
    border-width: 2px;
    width: 500px;
    // margin-top: 15px;
}

.input-hint {
    font-size: 10px;
    color: #D12B49E5;
}

.button-recover-password {
    display: flex;
    justify-content: center;
}

.recover-password-button {
    background-color: #08A3D3;
    width: 280px;
}