<div class="background">
    <p-card class="card">
        <div class="logo">
            <img src="assets/images/Logo.jpg" width="350">
        </div>
        <span class="p-float-label">
            <input 
                class="input-email" 
                pInputText 
                id="email">
            <label class="input-email-label" for="email">E-mail</label>
        </span>
            <p class="input-hint">*Insira o e-mail da sua conta para recuperar sua senha</p>
        <div class="button-recover-password">
            <button 
            pButton 
            pRipple 
            label="Recuperar Senha" 
            class="recover-password-button"></button>
        </div>
    </p-card>
</div>