// TODO: Add variables globally
$headerHeight: 50px;
$sidebarAnimationDuration: 0.3s;

.nav {
  height: 100%;
  padding: 1rem;
  // TODO: theme variable
  background-color: #91c612;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition:
    width $sidebarAnimationDuration ease-in-out,
    padding $sidebarAnimationDuration ease-in-out;

  * {
    opacity: 1;
    transition: opacity $sidebarAnimationDuration ease-in-out;
  }

  &.closed {
    clip-path: inset(0 0 0 0);
    width: 0;
    padding: 1rem 0;

    * {
      opacity: 0;
      transition: opacity $sidebarAnimationDuration ease-in-out;
    }
  }

  &.expanded {
    width: var(--sidebar-width);
  }

  .links_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    .user_icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: fit-content;
      width: fit-content;
      font-size: 8rem;
    }

    > a,
    button {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: clip;
      padding: 0.5rem;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
