// TODO: Add variables globally
$headerHeight: 50px;

.header {
  width: 100%;
  height: $headerHeight;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  // TODO: theme variable
  background-color: red;

  * {
    // TODO: theme variable
    color: white;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
  }

  .headerItemGroup {
    display: flex;
    gap: 1rem;
  }

  .logo {
    display: flex;
    gap: 0.5rem;
  }
}
