<div class="header">
  <div class="headerItemGroup">
    <button type="button" (click)="handleSidebar()" aria-label="open sidebar">
      <mat-icon aria-hidden="false" aria-label="menu icon" fontIcon="menu" class="icon"></mat-icon>
    </button>
    <a [routerLink]="['/']" class="logo" aria-label="Navigate to home">
      <img src="../../../assets/images/AtomVector.svg" width="30" alt="Atom">
      <img src="../../../assets/images/Name.svg" width="150" alt="Logo">
    </a>
  </div>
  <div class="headerItemGroup">
    <div>
      <p-toggleswitch [(ngModel)]="checked" />
      <p>pesquisar</p>
    </div>
    <div>
      <mat-icon aria-hidden="false" aria-label="search icon" fontIcon="search"></mat-icon>
    </div>
  </div>
</div>
