// TODO: Add variables globally
$headerHeight: 50px;

.header {
  width: 100%;
  height: $headerHeight;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  // TODO: theme variable
  background-color: #91c612;

  .headerItem_group {
    display: flex;
    gap: 1rem;

    .batata {
      display: none;
    }
    .search_icon {
      display: block;
    }

    @media (min-width: 950px) {
      .batata {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
      .search_icon {
        display: none;
      }
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
  }

  .logo {
    display: flex;
    gap: 0.5rem;
  }
}
