<div class="login-background">
    <p-card header="Voluntari.ze" class="login-card">
        <!-- <p class="m-0"> -->
            <span class="p-float-label">
                <input class="input-email" pInputText id="email" />
                <label class="input-email-label" for="email">E-mail</label>
            </span>
            <span class="p-float-label">
                <input class="input-password" pInputText id="password">
                <label class="input-password-label" for="password">Senha</label>
            </span>
            <div>
                <a class="forgot-password-link">Esqueceu a senha?</a>
            </div>
            <div class="button-sign-in">
                <button pButton pRipple label="Entrar" class="sign-in-button"></button>
            </div>
        <!-- </p> -->
    </p-card>
</div>