.sign-up-backgroud{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: max-content;
    min-height: max-content;
    background-color: #EEF6F4;
}

.sign-up-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sign-up-form label{
    padding-top: 20px;
}


.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 850px;
    min-height: 700px;
    background-color: #EEF6F4;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.login-card {
    // width: 800px;
    // height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid;
    border-image: linear-gradient(to right, #08A3D3, #37AF91, #FFD602, #91C612) 10;
}