<div class="login-background">
    <p-card class="login-card">
        <div class="logo">
            <img src="assets\images\Logo.jpg" width="350">
        </div>
        <p-selectButton [options]="stateOptions"  optionLabel="label" optionValue="value">
            
            <!-- <router-outlet></router-outlet> -->
        </p-selectButton>
        <!-- <a [routerLink]="['app-register-ngo']">Teste</a> -->
        
        <app-register-ngo></app-register-ngo>
        <!-- <register-user></register-user> -->
    </p-card>
</div>
