<p-card header="Cadastro">
    <div class="sign-up-background">
        <div>
            <p-selectButton [options]="stateOptions"  optionLabel="label" optionValue="value"></p-selectButton>
            <!-- <p-button label="Cadastro de Perfil" [raised]="true"></p-button>
            <p-button label="Cadastro de ONG" [raised]="true" [disabled]="true"></p-button> -->
        </div>
        <div>
            
            <p>
                Já tem uma conta? Então 
                
                <a href="">Voluntarize</a>
                
            </p>
        </div>
    </div>
</p-card>