main {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;

  nav {
    height: 100%;
  }

  .content_container {
    flex: 1;
    display: flex;
    overflow: hidden;
    flex-direction: column;

    .content_wrapper {
      flex: 1;
      overflow-y: auto;
      scrollbar-gutter: stable;
      position: relative;
      display: flex;
      flex-direction: column;

      .content {
        width: min(90%, 800px);
        flex: 1;
        margin: 2rem auto;
      }
    }
  }
}

@media (max-width: 768px) {
  main {
    nav {
      z-index: 9999;
      position: absolute;
    }
  }
}
