<form>
  <div class="form_group">
    <h3>Informações Gerais</h3>

    <div class="input_group">
      <p-fileUpload mode="basic" chooseLabel="Escolher imagem" name="demo[]"
        url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000"></p-fileUpload>

      <div class="form_group">
        <div class="input_group">
          <input id="fname" type="text" placeholder="Nome">
        </div>

        <div class="input_group">
          <input id="cnpj" type="number" placeholder="CNPJ">
        </div>

        <div class="input_group">
          <input id="phone" type="number" placeholder="Tel">
        </div>
      </div>
    </div>

    <div class="input_group">
      <textarea id="description" placeholder="Descrição"></textarea>
    </div>

    <div class="input_group">
      <input id="username" type="text" placeholder="Usuário">

      <input id="email" type="email" placeholder="E-mail">
    </div>

    <div class="input_group">
      <input id="password" type="text" placeholder="Escolha as categorias">
    </div>

    <div class="input_group">
      <input id="password" type="password" placeholder="Senha">

      <input id="cpassword" type="password" placeholder="Confirmar senha">
    </div>
  </div>

  <div class="form_group">
    <h3>Informações Regionais</h3>

    <div class="input_group">
      <input id="cep" type="text" placeholder="CEP">

      <input id="country" placeholder="País">

      <input id="city" placeholder="Cidade">
    </div>

    <div class="input_group">
      <input id="state" placeholder="Estado">

      <input id="street" placeholder="Rua">

      <input id="number" placeholder="Numero">
    </div>
  </div>

  <button type="submit">Cadastrar</button>
</form>