<div class="formGroup">
  <div class="inputGroup">
    <label for="event_title">Título do Evento</label>
    <input id="event_title" type="text">
  </div>
  <div class="inputGroup">
    <label for="event_description">Descrição</label>
    <textarea id="event_description" type="text"></textarea>
  </div>
  <div class="inputGroup">
    <label for="event_requisites">Requisitos</label>
    <textarea id="event_requisites" type="text"></textarea>
  </div>
  <button>Publicar</button>
  <!-- <div class="inputGroup">
  </div> -->
</div>
