.card_container {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  scrollbar-gutter: stable;
  padding: 2rem 0;

  .card_border {
    border-radius: 15px;
    background: linear-gradient(to right, #08a3d3, #37af91, #ffd602, #91c612);
    //TODO: Add globally (default width for big containers)
    width: min(80%, 1000px);
    height: fit-content;

    .signUp_card {
      //TODO: add globally
      border: 5px solid transparent;
      border-radius: 15px;
      //TODO: theme variable (card backgrounds)
      background-color: #eef6f4;
      background-clip: padding-box;
      padding: 2rem 7rem;
      gap: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #08a3d3;

      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .atom {
          width: 35px;
        }
        .name {
          width: 100px;
        }

        @media (min-width: 950px) {
          .atom {
            width: 70px;
          }
          .name {
            width: 200px;
          }
        }
      }

      .perfil,
      .ong {
        background-color: #91c612;
        color: #fdfdfd;
        text-align: center;
        padding: 0.5rem;
        border-radius: 5px;
        border: none;
        width: 250px;
      }

      .content {
        width: 100%;

        div {
          text-align: center;
          a {
            color: #91c612;
          }
        }
      }
    }
  }
}
