<div class="cardContainer">
  <div class="signUpCard">
    <div class="logo">
      <img src="../../../assets/images/Atom.svg" width="60" alt="Atom">
      <img src="../../../assets/images/NameAndMoto.svg" width="150" alt="Logo" class="teste">
    </div>
    <div class="logo">
      <a pTooltip="Sou um voluntário" tooltipPosition="top" [routerLink]="['volunteer']" class="perfil" >Cadastro de Perfil</a>
      <a pTooltip="Represento uma ONG!" tooltipPosition="top" [routerLink]="['ngo']" class="ong" >Cadastro de ONG</a>
    </div>
    <router-outlet></router-outlet>
    <div>
      <span>Já tem uma conta? Então </span>
      <a [routerLink]="['/sign-in']">Voluntarize</a>
    </div>
  </div>
</div>
