//TODO: add globally
.card_border {
  border-radius: 15px;
  background: linear-gradient(to right, #08a3d3, #37af91, #ffd602, #91c612);
}

//TODO: add globally
.card {
  border: 5px solid transparent;
  border-radius: 15px;
  //TODO: theme variable (card backgrounds)
  background-color: #eef6f4;
  background-clip: padding-box;
  padding: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  //TODO: theme variable
  color: #08a3d3;
}

//TODO add globally
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;

  .atom {
    width: 70px;
  }
  .name {
    width: 200px;
  }
}

.perfil,
.ong {
  //TODO: theme variable
  background-color: #91c612;
  color: #fdfdfd;
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.content {
  width: 100%;

  div {
    text-align: center;
    a {
      //TODO: theme variable
      color: #91c612;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//mobile
@media (max-width: 950px) {
  .logo {
    .atom {
      width: 35px;
    }
    .name {
      width: 100px;
    }
  }

  .card {
    padding: 1rem;
  }
}
