@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}

app-root {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
}

input,
textarea {
  /* TODO: theme variable */
  border: solid #08a3d3;
  /* TODO: theme variable */
  background: white;
  border-radius: 5px;
  width: 100%;
  padding: 0.45rem;

  &:focus {
    outline: none;
  }
}

/* TODO: find a way to apply these styles to EVERY mat-icon */
/* mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
} */
